# Ch. 6

In [1]:
def sanitize(time_string):
    if '-' in time_string:
        splitter = '-'
    elif ':' in time_string:
        splitter = ':'
    else:
        return(time_string)
    
    (mins, secs) = time_string.split(splitter)
    return(mins + '.' + secs)

In [2]:
def get_coach_data(filename):
    try:
        with open(filename) as f:
            data = f.readline()
        return(data.strip().split(','))
    except IOError as ioerr:
        print('File error: ' + str(ioerr))
        return(None)

In [7]:
sarah = get_coach_data('ch6data/sarah2.txt')

In [8]:
sarah

['Sarah Sweeney',
 '2002-6-17',
 '2:58',
 '2.58',
 '2:39',
 '2-25',
 '2-55',
 '2:54',
 '2.18',
 '2:55',
 '2:55',
 '2:22',
 '2-21',
 '2.22']

In [9]:
(sarah_name, sarah_dob) = sarah.pop(0), sarah.pop(0)

In [10]:
sarah_name

'Sarah Sweeney'

In [11]:
sarah_dob

'2002-6-17'

In [12]:
sarah

['2:58',
 '2.58',
 '2:39',
 '2-25',
 '2-55',
 '2:54',
 '2.18',
 '2:55',
 '2:55',
 '2:22',
 '2-21',
 '2.22']

In [13]:
print(sarah_name + "'s fastest times are: " + str(sorted(set([sanitize(t) for t in sarah]))[0:3]))

Sarah Sweeney's fastest times are: ['2.18', '2.21', '2.22']

In [14]:
cleese = {}
paline = dict()

In [15]:
type(cleese)

dict

In [16]:
type(paline)

dict

In [17]:
cleese['Name'] = 'John Cleese'
cleese['Occupations'] = ['actor','comedian','writer','film producer']
palin = {'Name':'Michael Palin','Occupations':['comedian','actor','writer','tv']}

In [18]:
palin['Name']

'Michael Palin'

In [20]:
cleese['Occupations'][-1]

'film producer'

In [22]:
sarah = get_coach_data('ch6data/sarah2.txt')

In [23]:
sarah_data = {}
sarah_data['Name'] = sarah.pop(0)
sarah_data['DOB'] = sarah.pop(0)
sarah_data['Times'] = sarah

In [24]:
sarah_data

{'DOB': '2002-6-17',
 'Name': 'Sarah Sweeney',
 'Times': ['2:58',
  '2.58',
  '2:39',
  '2-25',
  '2-55',
  '2:54',
  '2.18',
  '2:55',
  '2:55',
  '2:22',
  '2-21',
  '2.22']}

In [26]:
print(sarah_data['Name']+"'s fastest times are: " +
     str(sorted(set([sanitize(t) for t in sarah_data['Times']]))[0:3]))

Sarah Sweeney's fastest times are: ['2.18', '2.21', '2.22']

### 코드 리뷰
1. 곧바로 딕셔너리를 만든다.
2. 딕셔너리를 만드는 코드를 get_coach_data() 함수 안으로 이동하고, 리스트 대신 딕셔너리를 반환한다.
3. 상위 3개의 기록을 찾는 코드를 get_coach_data() 함수를 사용하도록 수정한다.
4. 함수를 네번 호출해서 모든 선수의 데이터를 처리하고, 네 개의 print()문도 수정

In [39]:
def sanitize(time_string):
    if '-' in time_string:
        splitter = '-'
    elif ':' in time_string:
        splitter = ':'
    else:
        return(time_string)
    
    (mins, secs) = time_string.split(splitter)
    return(mins + '.' + secs)

def get_coach_data(filename):
    try:
        with open(filename) as f:
            line = f.readline().strip().split(',')
            data = {'Name':line.pop(0), 'DOB':line.pop(0), 'Times':sorted(set([sanitize(t) for t in line]))[0:3]}
            
            #data = {}
            #data['Name'] = line.pop(0)
            #data['DOB'] = line.pop(0)
            #data['Times'] =  sorted(set([sanitize(t) for t in line]))[0:3]
        return(data)
    except IOError as ioerr:
        print('File error: ' + str(ioerr))
        return(None)

In [40]:
get_coach_data('ch6data/sarah2.txt')

{'DOB': '2002-6-17',
 'Name': 'Sarah Sweeney',
 'Times': ['2.18', '2.21', '2.22']}

In [41]:
get_coach_data('ch6data/james2.txt')

{'DOB': '2002-3-14', 'Name': 'James Lee', 'Times': ['2.01', '2.16', '2.22']}

In [42]:
get_coach_data('ch6data/mikey2.txt')

{'DOB': '2002-2-24',
 'Name': 'Mikey McManus',
 'Times': ['2.22', '2.31', '2.38']}

In [43]:
get_coach_data('ch6data/julie2.txt')

{'DOB': '2002-8-17', 'Name': 'Julie Jones', 'Times': ['2.11', '2.23', '2.59']}

## 클래스

In [7]:
class Athlete:
    def __init__(self, value=0):
        self.thing = value
    def how_big(self):
        return(len(self.thing))

In [8]:
d = Athlete("Holy Grail")

In [9]:
d.how_big()

10

In [12]:
# 파이썬이 실행하는 코드
Athlete.__init__(d, "Holy Grail")
Athlete.how_big(d)

10

In [15]:
class Athlete2:
    def __init__(self, a_name, a_dob=None, a_times=[]):
        self.name = a_name
        self.dob = a_dob
        self.times = a_times

In [33]:
sarah = Athlete2('Sarah Sweeney','2002-6-17',['2:38','2.58','1.56'])
james = Athlete2('James Jones')

In [17]:
type(sarah)

__main__.Athlete2

In [18]:
sarah

In [19]:
james

In [20]:
sarah.name

'Sarah Sweeney'

In [21]:
james.name

'James Jones'

In [22]:
sarah.times

['2:38', '2.58', '1.56']

In [34]:
james.times

[]

In [ ]:
def sanitize(time_string):
    if '-' in time_string:
        splitter = '-'
    elif ':' in time_string:
        splitter = ':'
    else:
        return(time_string)
    
    (mins, secs) = time_string.split(splitter)
    return(mins + '.' + secs)

In [35]:
class Athlete3:
    def __init__(self, a_name, a_dob=None, a_times=[]):
        self.name = a_name
        self.dob = a_dob
        self.times = a_times
    def top3(self):
        return(sorted(set([sanitize(t) for t in self.times]))[0:3])

In [40]:
def get_coach_data(filename):
    try:
        with open(filename) as f:
            line = f.readline().strip().split(',')
            
        return(Athlete3(line.pop(0),line.pop(0),line))
    except IOError as ioerr:
        print('File error: ' + str(ioerr))
        return(None)

In [41]:
james = get_coach_data('ch6data/james2.txt')

In [43]:
print(james.name + "'s fastest times are: " + str(james.top3()))

James Lee's fastest times are: ['2.01', '2.16', '2.22']

In [98]:
class Athlete4:
    def __init__(self, a_name, a_dob=None, a_times=[]):
        self.name = a_name
        self.dob = a_dob
        self.times = a_times
    
    def top3(self):
        return(sorted(set([sanitize(t) for t in self.times]))[0:3])
    
    def add_time(self, time_value):
        self.times.append(time_value)
        
    def add_times(self, list_of_times):
        self.times.extend(list_of_times)

In [99]:
vera=Athlete4('Vera Vi')

In [100]:
vera.add_time('1.31')

In [101]:
vera.top3()

['1.31']

In [102]:
vera.add_times(['2.22','1-21','2:22'])

In [103]:
vera.top3()

['1.21', '1.31', '2.22']

## 내장 클래스 상속

In [104]:
class NamedList(list):
    def __init__(self, a_name):
        list.__init__([])
        self.name = a_name

In [105]:
johnny = NamedList("John Paul Jones")

In [107]:
type(johnny)

__main__.NamedList

In [109]:
dir(johnny)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__module__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'name',
 'pop',
 'remove',
 'reverse',
 'sort']

In [111]:
johnny.name

'John Paul Jones'

In [112]:
johnny.append("Bass Player")

In [113]:
johnny.extend(['Composer','Arranger','Musician'])

In [114]:
johnny

['Bass Player', 'Composer', 'Arranger', 'Musician']

In [116]:
for attr in johnny:
    print(johnny.name + " is a " + attr + ".")

John Paul Jones is a Bass Player.
John Paul Jones is a Composer.
John Paul Jones is a Arranger.
John Paul Jones is a Musician.

In [117]:
"""
class Athlete4:
    def __init__(self, a_name, a_dob=None, a_times=[]):
        self.name = a_name
        self.dob = a_dob
        self.times = a_times
    
    def top3(self):
        return(sorted(set([sanitize(t) for t in self.times]))[0:3])
    
    def add_time(self, time_value):
        self.times.append(time_value)
        
    def add_times(self, list_of_times):
        self.times.extend(list_of_times)
"""

'\nclass Athlete4:\n    def __init__(self, a_name, a_dob=None, a_times=[]):\n        self.name = a_name\n        self.dob = a_dob\n        self.times = a_times\n    \n    def top3(self):\n        return(sorted(set([sanitize(t) for t in self.times]))[0:3])\n    \n    def add_time(self, time_value):\n        self.times.append(time_value)\n        \n    def add_times(self, list_of_times):\n        self.times.extend(list_of_times)\n'

In [118]:
class AthleteList(list):
    def __init__(self, a_name, a_dob=None, a_times=[]):
        list.__init__([])
        self.name = a_name
        self.dob = a_dob
        self.extend(a_times)
        
    def top3(self):
        return(sorted(set([sanitize(t) for t in self]))[0:3])

In [119]:
vera = AthleteList('Vera Vi')
vera.append('1.31')
vera

['1.31']

In [120]:
vera.extend(['2.22','1-21','2:22'])

In [121]:
vera.top3()

['1.21', '1.31', '2.22']

In [122]:
def sanitize(time_string):
    if '-' in time_string:
        splitter = '-'
    elif ':' in time_string:
        splitter = ':'
    else:
        return(time_string)
    
    (mins, secs) = time_string.split(splitter)
    return(mins + '.' + secs)

class AthleteList(list):
    def __init__(self, a_name, a_dob=None, a_times=[]):
        list.__init__([])
        self.name = a_name
        self.dob = a_dob
        self.extend(a_times)
        
    def top3(self):
        return(sorted(set([sanitize(t) for t in self]))[0:3])
    
def get_coach_data(filename):
    try:
        with open(filename) as f:
            line = f.readline().strip().split(',')           
        return(AthleteList(line.pop(0),line.pop(0),line))
    except IOError as ioerr:
        print('File error: ' + str(ioerr))
        return(None)

In [126]:
james = get_coach_data('ch6data/james2.txt')
julie = get_coach_data('ch6data/julie2.txt')
mikey = get_coach_data('ch6data/mikey2.txt')
sarah = get_coach_data('ch6data/sarah2.txt')

In [128]:
print(james.name + "'s fastest times are: " + str(james.top3()))
print(julie.name + "'s fastest times are: " + str(julie.top3()))
print(mikey.name + "'s fastest times are: " + str(mikey.top3()))
print(sarah.name + "'s fastest times are: " + str(sarah.top3()))

James Lee's fastest times are: ['2.01', '2.16', '2.22']
Julie Jones's fastest times are: ['2.11', '2.23', '2.59']
Mikey McManus's fastest times are: ['2.22', '2.31', '2.38']
Sarah Sweeney's fastest times are: ['2.18', '2.21', '2.22']